@charset "UTF-8";

/* ==============================================
   ◆ メインコンテンツ
============================================== */

main {
  background-color: #efefef;
  color: #000;
}

/* ARTエリア内上下の余白 */
.art-section {
  padding: 50px 0;
}

h2 {
  padding-bottom: 50px;
  text-align: center;
}

/* アイテムの位置調節 */
.art-section .flex {
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

/* ⚫︎ imgとfigcaptionの間の余白 */
.art-section .caption {
  margin-top: 20px;
  text-align: center;
  /* padding-bottom: 50px; */
}

/* ==============================================
   ◆ slick用の指定
============================================== */

.slider {
  max-width: 300px;
  max-height: 300px;
  /* aspect-ratio: 1 / 1; */
  margin: 0 auto;
}

.slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}


/* ==============================================
   ◆ モーダルの指定
============================================== */

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content-wrapper {
  position: relative;
  /* ×ボタンの基準 */
  display: inline-block;
  /* 画像サイズに合わせる */
}

.modal-content {
  display: block;
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: -2px;
  /* 画像右上より少し上 */
  right: -2px;
  /* 画像右上より少し右 */
  color: white;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10000;
}


/* ＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝
    ARTページ用メディアクエリを用いたスタイルの「切り替え」を行っていく記述
＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/

/* -----------------------------------------
  500px以下の画面に向けた記述　※768px以下はcommon.cssに任せる
----------------------------------------- */

@media screen and (max-width: 500px) {

  section h2,
  article h2 {
    padding: 0;
  }

  .art-section {
    padding: 50px 0;
  }

  main .flex {
    flex-direction: column;
    margin: 0 10px 0px;
  }
}